@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

.itemBox {
  font-family: "Noto Sans JP", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  width: 380px;
  height: 300px;
  box-shadow: 3px 3px 5px 0 rgba(191, 191, 191, 0.8);
  border: 1px gainsboro solid;
  transition: transform 250ms ease-in;
}

.itemBox:hover {
  transform: scale(1.03);
}

.item {
  position: absolute;
  width: 320px;
  top: 25px;
}

.image {
  width: 320px;
  height: 180px;
  cursor: pointer;
}

.content {
  position: relative;
  font-size: 16px;
  margin-bottom: 3px;
  display: block;
  text-align: left;
}

.title {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channelTitle {
  margin-top: 5px;
  font-size: 15px;
}

.icon {
  position: absolute;
  padding: 0;
  right: 0;
  color: grey;
  font-size: 20px;
  animation: scale-down-center 200ms ease-in;
}

.icon:active {
  color: rgb(205, 2, 2);
}

.clickIcon {
  position: absolute;
  padding: 0;
  right: 0;
  font-size: 20px;
  color: rgb(205, 2, 2);
  animation: scale-up-center 200ms ease-in;
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* mobile version */
@media screen and (max-width: 375px) {
  .itemBox {
    width: 85%;
    height: 275px;
    transition: none;
  }

  .item {
    top: 15px;
    width: 280px;
  }

  .image {
    width: inherit;
    height: 160px;
  }

  .icon {
    font-size: 32px;
  }

  .icon:active {
    color: none;
  }

  .clickIcon {
    color: rgb(205, 2, 2);
    font-size: 32px;
  }
}
