@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
}

.titleBox {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 40px;
}

.logo {
  margin-right: 10px;
  width: 30px;
}

.btn {
  padding: 4px 0 0 0;
  font-family: "Black Han Sans", sans-serif;
}

.title {
  font-size: 20px;
  color: black;
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  width: 500px;
  height: 35px;
}

.input {
  padding: 0 40px 0 10px;
  width: inherit;
  height: inherit;
  background-color: black;
  border: none;
  color: white;
  font-weight: 700;
  outline: 0;
}

.icon {
  position: absolute;
  width: 1.2rem;
  right: 1.4rem;
  top: 0.5rem;
}

.lineOne {
  display: block;
  width: 40%;
  border-bottom: 3px black solid;
}

@media screen and (min-width: 500px) and (max-width: 1225px) {
  .header {
    flex-direction: column;
    padding: 100px;
  }

  .titleBox {
    flex-direction: column;
    margin: 10px;
    width: 150px;
    height: 120px;
  }

  .logo {
    width: 50px;
    margin: 0;
  }

  .title {
    margin-top: 5px;
    font-size: 30px;
  }

  .form {
    justify-content: center;
    width: 380px;
    margin-bottom: 20px;
  }

  .lineOne {
    width: 700px;
  }
}
